html, body {
	height: 100%;
	background-color: rgb(230, 230, 230);
	font-family: 'Averia Sans Libre', cursive;
	padding: 0px;
	margin: 0px;
}
.VideoRendu{
	min-height : 562px;
	min-width : 750px;
	max-height : 900px;
	max-width: 900px;
	margin-left:10px;
	margin-top : 30px;
	margin-left: 300px;
}
.title_project h1 {
	color: rgb(230, 230, 230);
	padding-top: 20px;
}
.PageTitle{
	margin-left:15%;
}
header{
	background:#34495e;
	width : 100%;
	height: 150px;
}
header h1{
	text-align:center;
	color : white;
	line-height : 70px;
	font-size : 70px;
	margin-top:0px;
}
header h2{
	color:white;
	margin-left:15%;
}
header nav{
	float:right;
	font-size:16px;
	height : 30%;
}
header a{
	margin : 10px;
	text-decoration:none;
	color:white;
}
footer{
	background:#34495e;
	width : 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
}
footer h5{
	font-size : 12px;
	color : white;
	font-style: italic;
	float : right;
	margin : 25px;
	line-height : 50px;
}
.picture {
	width: 100%;
	text-align: center;
}
.picture a {
	color: rgb(186, 99, 100);
	text-decoration: none;
}
.myphoto{
	position:absolute;
	right:0px;
	top:160px;
	max-width:770px;
	max-height : 80% !important;
	overflow : auto;
}
.galerie{
	max-height : 80%; !important;
	width : 100%;
	overflow :auto;
}
.input {
	text-align : center;
}
.input label{
	border-radius : 10px;
	background:#34495e;
	line-height : 30px;
	margin-top : 25px;
	margin-bottom : 5px;
	display : block;
	margin-left:25%;
	width : 50%;
	height : 35px;
	color : white;
}
button:disabled {
	background: rgba(52, 73, 94,0.7);
	font-style: italic;
}
.photogal{
	border:solid 1px blue;
	height : 650px;
	width: 750px;
	display:inline-table;
	margin : 5px;
}
.commentzone{
	width : calc(100% - 10px);
	margin: 0 5 0 5px;
	resize:none;
	height : 40px;
}
.Commentedzone{
	height: 150px;
	overflow-x: auto;
}
.Commentedzone p{
	margin : 0px;
	border : solid grey 1px;
}
.input input{
	height : 35px;
	width : 50%;
}
.formcomment{
	margin : 0px;
}
.commentbutton{
	width : calc(100% - 10px);
	height : 30px;
	background : #34495e;
	color : white;
	margin : 5px !important;
	padding : 0px;
	border:0px;
}
.FormButton{
	margin-top : 25px;
	margin-left:25%;
	width : 50%;
	height : 35px;
	font-size:20px;
	color : white;
	background:#34495e;
	border:none;
}
.tmp{
	position:absolute;
}
.choiseclip{
	position:absolute;
	overflow-y : auto;
	height : 80%;
	margin:0px;
	width : 250px;
	top:160px;
}
.clipart{
	margin:0px;
	border : 0px;
	padding : 0px;
	width: 250px;
	height : 250px;
}
.tricky{
	max-width:750px;
	max-height:560px;
}
@media screen and (max-width: 700px){
	.GalerieImg{
		height : 150px;
		width : 90px;
}
}
@media screen and (max-width: 1925px)
{
	.choiseclip{
		position:relative;
		display:inline;
		width : 50%;
		margin:none;
		padding:none;
		overflow : auto;
		float : left;
		height : 300px;
}
.myphoto{
	position:relative;
	margin:none;
	padding:none;
	width : 50%;
	height : 300px;
	overflow : auto;
	float : right;
}
.VideoRendu{
	width : 25%;
	height : 25%;
	min-height : 100px;
	min-width: 100px;
	margin-left:15px;
	margin-bottom: 240px;
}
}
